{% assign pages = site.html_pages | sort: "order" %}
<header class="bg-cyan-900 h-16">
  <div class="flex items-center justify-between gap-4 border-0 border-b fixed w-screen  border-b-cyan-700 h-16  px-4">
    <div>
      <img class="w-16 lg:w-32" src='{{ "/assets/images/logo.svg" | relative_url }}' />
    </div>
    {%- if false -%}
    <nav class="flex gap-2">
      {%- for path in pages -%}
      {%- if path.title -%}
      <a class="page-link" href="{{ path.url | relative_url }}">{{ path.title | escape }}</a>{% unless forloop.last %}|{% endunless %}
      {%- endif -%}
      {%- endfor -%}
    </nav>
    {%- endif -%}
  </div>
</header>